@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./_variables";

.contacts-page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

}




